<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aki.codedepirates" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="aki.codedepirates.Main"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".BindService" android:enabled="true"/>

        <activity android:name=".Login"
            android:label="Login"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".Screen"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".Display"
            android:label="Code"
            android:screenOrientation="portrait"/>

        <activity android:name=".MasterAnswer"
            android:label="Master Code"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
